 body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, tr, td, span, div { 
    font-family: Arial, Helvetica, Sans-Serif; 
    /* AB 24.01.2002 Netscape 4.7 retter sig ikke efter overordnet angivelse f.eks. paa body,
    derfor de mange tag-navne. */ 
 }
  
 table.toptekst { 
    font-size: 80%; 
	background: hsl(61, 85%, 62%); 
	color: black;
	border-width: 0; 
   width : 100%;
 }
 table.ugeplan {
	width : 100%;
}
 tr {
	vertical-align : top;
}

p{
   font-size: 16px;
   line-height: 1.4;
}

.col-md4{   
   border: 1px solid #ccc;
   padding: 10px;
   margin-bottom: 15px;
}
   
 pre, code { font-family: monospace; }
 div.center { text-align: center; }
 div.right { text-align: right; }
 div.bundtekst { font-size: 60%; text-align: right; }

.out {	text-decoration : line-through; }
.new {	background-color : rgb(59, 24, 141); 	color: black; }
/* til �ndringer i ugeplaner og lign. */
